.container{
    min-height: 150px;
    background-color: aqua;
   
}
.HeadLine{
    margin-left: 10px;
}

.HeadLineContainer{
    margin-top: 30px;
 
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
 
 
}
.ArticleContainer:last-child(){
    background-color: aqua;
}

.divider{
    border-top: solid;
    margin-right: 20px;
    width: 70%;
    height: 50%;
   

}

@media (min-width: 800px) {
   .gridContainer {
      background: yellow;
      display: grid ;
      gap:1rem;
      padding-block: 1rem;
      width: min(95%, 90rem);
      margin-inline: auto;
      grid-template-columns: repeat(3,1fr) ;
    }
    .gridColSpan2:first-child{
        /* grid-column: span 2; */
        background-color: red;
      }  

      .gridColSpan2:last-child{
        background-color: blue;
      
        /* forces the box to move to row line number 1*/
        /* grid-row-start: 1; */
      
        /* this */
        /* grid-row-end: span 2; */
      
        /* this is shirt hand.  1-where strt / 3- where end*/
        grid-row: 1/span 2;
      }
  }